
body {
  background-color: #28258A;
}

.carousel {
  margin: 0 auto;
  width: 40vh;
  height: 40vh;
  background-color: #DE0958;
  border: 2px solid black;
  margin-bottom: 2vh;
}

.carousel-img {
  max-height: 40vh;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vh;
  height: 15vh;
  border-radius: 20%;
  padding: 5px;
  border: 3px solid #5856CD;
}

.correct {
  background-color: #46c082;
  border: 3px solid #46c082;
}

.wrong {
  background-color: #DE0958;
  border: 3px solid #DE0958;
}

.carousel {
  padding: 25px;
}