.slick-slide img {
  max-height: 400px;
  width: auto;
  border-radius: .25rem;
  margin: 0 auto;
}

#root {
  background-color: #28258A;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 20%;
  padding: 10px;
  border: 3px solid #5856CD;
}

.correct {
  background-color: #46c082;
  border: 3px solid #46c082;
}

.wrong {
  background-color: #DE0958;
  border: 3px solid #DE0958;
}

.carousel {
  padding: 25px;
}