
body {
  background-color: #FDFFFF;
  font-weight: bold;
}

.carousel-container {
  margin: 0 auto;
  border: 2px solid #5856CD;
  border-radius: 2%;
  margin-bottom: 8vh;
  width: 40vh;
  height: 40vh;
}

.carousel-img {
  max-height: 40vh;
}

