.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20vh;
  height: 15vh;
  border-radius: 20%;
  padding: 5px;
  border: 2px solid #DDDDDF;
  border-bottom: 4px solid #DDDDDF;
  color: #373736;
}

.choice:hover {
  background-color: #D6F1FE;
  color: #1DA0F3;
  border-color: #1DA0F3;
}

.choice:hover > .choice-subtitle {
  color: #1DA0F390;
}

.choice:active,
.choice-selected {
  background-color: #D6F1FE;
  border-bottom: 2px solid #DDDDDF;
  color: #1DA0F3;
  border-color: #1DA0F3;
  transform: translate3d(0, 4px, 0);
}

.choice-title {
  font-size: 16px;
  font-weight: 500;
}

.choice-subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #36373770;
}

.choice-correct,
.choice-correct:hover {
  background-color: #ACF278;
  border: 2px solid #68C100;
  border-bottom-width: 4px;
  color: #499A08;
}

div.choice-correct > .choice-subtitle,
.choice-correct:hover > .choice-subtitle {
  color: #499A0890;
}

.choice-wrong,
.choice-wrong:hover {
  background-color: #FCB2B4;
  border: 2px solid #FB313B;
  border-bottom-width: 4px;
  color: #E21724;
}

.choice-wrong > .choice-subtitle,
.choice-wrong:hover > .choice-subtitle {
  color: #E2172490;
}

.choice-selected > .choice-title {
  color: #1DA0F3;
}

.choice:active > .choice-subtitle,
.choice-selected > .choice-subtitle {
  color: #1DA0F390;
}