.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 20vw;
  border-bottom: 4px solid #499B02;
  background-color: #68C106;
  color: #FFFFFF;
  cursor: pointer;
}

@media not all and (hover: none) {
  .submit:hover {
    background-color: #74D900
  }
}

.submit:active {
  border: none;
  transform: translate3d(0, 4px, 0);
}

.submit-disabled,
.submit-disabled:active,
.submit-disabled:hover {
  background-color: #DFDFDF;
  color: #9F9F9F;
  border: none;
  transform: none;
  cursor: default ;
}