.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 20vw;
  max-height: 2vh;
  border-width: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  text-transform: uppercase;
}

.submit-red {
  border-bottom: 4px solid #E01221;
  background-color: #FB313B;
}

.submit-green {
  border-bottom: 4px solid #499B02;
  background-color: #68C106;
}

@media not all and (hover: none) {
  .submit:hover {
    background-color: #74D900
  }
  .submit-red:hover {
    background-color: #FB313B;
  }
}

.submit:active {
  border: none;
  transform: translate3d(0, 4px, 0);
  border-top: 4px solid transparent;
}

.submit-disabled,
.submit-disabled:active,
.submit-disabled:hover {
  background-color: #DFDFDF;
  color: #9F9F9F;
  border: none;
  transform: none;
  cursor: default ;
}